.App {
  text-align: center;
}

.answer-button button {
  border-radius: 50%;
  margin: 10px;
  padding: 20px;
}

.card {
  height: 200px;
  width: 282px;
  margin: 0 auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex: 2;
  overflow: hidden;
}

.card .text {
  flex: 1;
}
